body{
    background-color: rgb(164, 210, 236);
}
.placaForms{
    margin-top: 5vh;
    margin-left: 26vw;
}
.categoriaForms{
    opacity: 0%;
    margin-top: 4vh;
    height: 5vh;
    margin-left: 33vw;
}
.horasForms{
    opacity: 0%;
    margin-top: 20vh;
    margin-left: 6vw;
}
input:valid {
  border: 1px solid green;
}
input:invalid {
  border: 1px solid red;
}

#placa{
    height: 4vh;
    font-size: 20px;
    margin-left: -10vw;
}
#placa2{
    height: 4vh;
    font-size: 20px;
    margin-left: -10vw;
}
#horas{
    height: 4vh;
    font-size: 20px;
    margin-left: 10vw;
}
#categoria{
     height: 4vh;
    font-size: 20px;
    margin-left: -5vw;
}

#button1{
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 20px;
                height: 40px;
                width: 100px;
                font-weight: 400;
                color: #fff;
                margin-top: 1vh;
                margin-left: 7vw;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
#button1:hover{
                    box-shadow: 0 0 0 0.30rem #5900ff;
}
#button2{
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 20px;
                height: 40px;
                width: 100px;
                font-weight: 400;
                color: #fff;
                margin-top: 1vh;
                margin-left: vw;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
#button2:hover{
                    box-shadow: 0 0 0 0.30rem #5900ff;
}
#button3{
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 22px;
                font-size: 20px;
                height: 40px;
                width: 100px;
                font-weight: 400;
                color: #fff;
                margin-top: 1vh;
                margin-left: 27vw;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
#button3:hover{
                    box-shadow: 0 0 0 0.30rem #5900ff;
}

#cadastro{
    margin-left: -8vw;
    font-size: 1.2rem;
}
#cadastro2{
    margin-left: -20vw;
    font-size: 1.2rem;
}
#comprar{
    margin-left: 24vw;
    font-size: 1.2rem;
}
#horasRestantes2{
    display: none;
}

#button4{
                display: none;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 14px;
                font-size: 20px;
                height: 40px;
                width: 100px;
                font-weight: 400;
                color: #fff;
                margin-top: 1vh;
                margin-left: 33vw;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
#button4:hover{
                    box-shadow: 0 0 0 0.30rem #5900ff;
}

#informacoes{
    font-size: 20px;
    margin-left: 20vw;
}

#veiculo1{
    margin-top: 30vh;
}

#veiculo2{
    margin-left: 16vw;
}

#button5{
                display: inline-block;
                outline: 0;
                border: none;
                box-shadow: none;
                cursor: pointer;
                padding: 9px 14px;
                font-size: 20px;
                height: 40px;
                width: 250px;
                font-weight: 400;
                color: #fff;
                margin-top: 1vh;
                margin-left: 15vw;
                text-align: center;
                line-height: normal;
                background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
                border-radius: 50px;
                transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}
#button5:hover{
                    box-shadow: 0 0 0 0.30rem #5900ff;
}